/* You can add global styles to this file, and also import other style files */

@import 'open-props/easings';
@import 'open-props/animations';
@import 'tailwindcss';

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@layer theme, base, components, utilities;

.ag-theme-quartz {
  --ag-background-color: theme(--color-neutral-800);
  --ag-active-color: theme(--color-cyan-400);
  --ag-borders-critical: 1px solid;
  --ag-header-background-color: theme(--color-neutral-700);
  --ag-foreground-color: theme(--color-white);
}

::view-transition-group(*) {
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

::view-transition-new(*.label):only-child {
  animation: var(--animation-slide-in-down) forwards;
}

::view-transition-old(*.label):only-child {
  animation: var(--animation-fade-out) forwards;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
}
