/* You can add global styles to this file, and also import other style files */

@import 'open-props/easings';
@import 'open-props/animations';
@import 'tailwindcss';

@import 'ag-grid-community/styles/ag-grid.css';
@layer theme, base, components, utilities;

@theme {
  --color-brand: 'purple';
}

.ag-theme-quartz {
  --ag-background-color: var(--color-brand);
  --ag-accent-color: var(--color-cyan-500);
  --ag-spacing: calc(var(--spacing) * 2);
  --ag-text-color: var(--color-gray-50);
  --ag-border-color: var(--color-gray-700);
  --ag-header-background-color: var(--color-neutral-700);
  --ag-foreground-color: var(--color-gray-50);
}

::view-transition-group(*) {
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

::view-transition-new(*.label):only-child {
  animation: var(--animation-slide-in-down) forwards;
}

::view-transition-old(*.label):only-child {
  animation: var(--animation-fade-out) forwards;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
}
